<?php

return [
    // Your app ID and secret.
    // @see https://developers.facebook.com/apps
    'app_id' => '',
    'app_secret' => '',

    // You can get an access token easily from the Graph API Explorer.
    // Make sure your app is selected from the "application" dropdown.
    // @see https://developers.facebook.com/tools/explorer
    'access_token' => '',

    // The URL to redirect back to after logging a user in.
    // This is used in the "get_access_token_from_redirect.php" example.
    'callback_url' => 'http://example.com/examples/get_access_token_from_redirect.php',
];
